*{
  margin: 0;
}
.app{
  background-color:#fafafa;
  height: 100vh;
}

.app_header {
  background-color: white;
  padding: 20px 0px 10px 10px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  margin-bottom: 30px;
}

  .app_headerImage{
    margin-left: 100px;
  }